body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    height: 100vh;
  }
  
  h1 {
    color: #ff4500;
    text-align: center;
    margin-bottom: 20px; /* Espacio debajo del título */
  }
  
  .button {
    background-color: rgba(255, 69, 0, 0.5); /* Color semitransparente */
    color: white;
    border: none;
    padding: 30px; /* Aumentado para hacer los botones más grandes */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%; /* Esto asegura que los botones sean círculos */
    box-shadow: 0 4px #999;
    width: 100px; /* Ancho fijo para círculos grandes */
    height: 100px; /* Altura fija para círculos grandes */
  }
  
  #show_me_now {
    margin-right: auto; /* Alinea el botón a la izquierda */
  }
  
  #show_you_now {
    margin-left: auto; /* Alinea el botón a la derecha */
  }
  
  input[type=text] {
    width: 80%; /* Ajustado para no ocupar todo el ancho */
    padding: 12px 20px;
    margin: 20px auto 0; /* Centrado y con margen superior */
    box-sizing: border-box;
    border: 2px solid #ff4500;
    border-radius: 4px;
    position: absolute; /* Posiciona el campo de texto en la parte inferior */
    bottom: 20px;
    left: 10%; /* Ajusta para centrar el campo de texto */
  }